@media print {
}
body {
	color: #000;
}

#inner {
	padding: 0px 60px;
	margin: 0px auto;
	background: none;
	border: none;
}
#hd {
	margin: 1em 0em 0em 0em;
	padding-bottom: 1em;
	border-bottom: 1px solid #ccc;
}
#hd h1 {
	font-size: 3em;
	color: #000;
}
#hd h2 {
	font-size: 1.5em;
	color: #000;
}

h1, h2, h3, h4 {
	color: #444;
}

.only-print {
	display: inherit;
}

.education .yui-u {
	margin-bottom: .5em;
}

.yui-ge .yui-u, .yui-gf div.first {
	display: none;
}

.self-description p {
	font-size: 1.1em;
}

.yui-ge div.first, .yui-gf .yui-u {

	width: 100%;
}

#purpose-statement p {
	margin-top: 15px;
}

.skills-list ul {
	font-size: 1em;
}
.skills-list li {
	padding: 0px;
	margin: 0px;
	font-size: 1em;
	line-height: 1.4em;
}

.job {
	padding-bottom: 0em;
	margin-bottom: 1em;
}

.last-printed {
	border: none;
	border-bottom: none;
}

.job ul {
	font-size: 1.1em;
}
.job li {
	list-style: disc;
	margin-left: 2em;
	line-height: 1.4em;
	font-size: .9em;
}

.job.last {
	padding-bottom: 0px;
}

.no-print {

	display: none;
}

.education p {
	margin-bottom: 0px;
	margin-top: .5em;
	line-height: 1em;
}
